/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Grape Nuts', cursive;
}

/******************************************
/* LAYOUT
/*******************************************/


html {
  background-image: url(img/foodBG.jpg);
  background-position: center;
}

section {
  background-color: rgba(250, 235, 215, 0.85);
  width: 50%;
  margin: 2% 1% 2% 40%;
}

img{
  display: block;
  margin: 2% 1% 2% 5%;
  height: 250px;
  max-width: 500px;
}

h1{
  font-size: 3rem;
  margin: 2% 1% 0 5%;
}

p {
  margin: 2% 1% 2% 5%;
  font-size: 1.5rem;
  width: 75%;
}




span {
  font-size: 1.75rem;
  margin: 3% 1% 2% 5%;
}

button {
  margin: 1% 40% 2% 5%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
